<div id="copyrights">
    <div class="container clearfix">
        <div class="col_half">
                &copy; {{ now.Format "2006"}} Go Remote Fest
        </div>
        <div class="col_half col_last tright">
            <div class="fright clearsimple">
                <a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}" target="_blank"
                    class="social-icon si-small si-borderless nobottommargin si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>
                <a href="{{ .Site.Params.Social.Email }}" target="_blank"
                   class="social-icon si-small si-borderless nobottommargin si-email3">
                    <i class="icon-email3"></i>
                    <i class="icon-email3"></i>
                </a>
            </div>
        </div>
    </div>
</div>
