<div id="header-wrap">
    <div class="container clearfix">
        <div id="primary-menu-trigger">
            <i class="icon-reorder"></i>
        </div>
        <div id="logo">
            <a href="/" class="standard-logo" data-dark-logo="{{ "images/logo-mobile.png" | relURL }}">
                <img src="{{ "images/logo-mobile.png" | relURL }}" alt="FriendsofGo" />
            </a>
            <a href="/" class="retina-logo" data-dark-logo="{{ "images/logo-mobile.png" | relURL }}">
                <img src="{{ "images/logo-mobile.png" | relURL }}" alt="FriendsofGo" />
            </a>
        </div>
        <nav id="primary-menu">
            <ul class="one-page-menu sf-js-enabled" style="touch-action: pan-y;">
                {{ $current := . }}
                {{ $currentParent := $current.Param "parent_page" }}
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}" title="{{ .Name }}" {{ if eq .URL "#" }} data-href="#section-{{ .Identifier }}" {{ end }}>{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>
