section.schedule {
    clear: both;
    width: 100%;
}

section.schedule ul {
    position: relative;
    margin-top: 4rem;
    margin-left: 7.5rem;
}

section.schedule li {
    clear: both;
    overflow: hidden;
    margin-bottom: 3rem;
    padding-left: 2.3rem;
    position: relative;
}

section.schedule ul:before {
    position: absolute;
    content: ' ';
    width: 0.2rem;
    height: 100%;
    background-color: #e9e9e9;
    left: 0.6rem;
}

section.schedule li:before {
    position: absolute;
    content: " ";
    width: 1.3rem;
    height: 1.3rem;
    background: #F9F9F9 url("/images/circle-gray.png");
    left: 0;
    top: 0;
}

section.schedule li .schedule-hour {
    float: left;
    text-align: right;
    color: #767676;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-right: 1rem;
}
section.schedule li .schedule-title {
    float: left;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.4rem;
}

section.schedule li .schedule-talk {
    float: left;
    width: 50rem;
    font-size: 1.3rem;
    line-height: 2.8rem;
    overflow: hidden;
}

section.schedule li .schedule-talk img {
    float: left;
    width: 5.5rem;
}

section.schedule li .schedule-talk img {
    float: left;
    width: 5.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

section.schedule li .schedule-talk .schedule-name {
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
}

section.schedule li .schedule-closes {
    clear: both;
    overflow: hidden;
    margin-bottom: 3rem;
    padding-left: 2.3rem;
    position: relative;
}

section.schedule li:first-child:before, section.schedule li:last-child:before, section.schedule li.organization:before {
    background-image: url("/images/circle-yellow.png");
    background-repeat: no-repeat;
}
section.schedule li:last-child:before {
    height: 100%;
}

#add-calendar {
    margin-top:50%;
}

.button-border.button-yellow, .button-border.button-yellow.button-fill.button-light:hover {
    color: #f9bf56 !important;
    border-color: #f9bf56 !important;
}

.button-yellow { background-color: #f9bf56; }
.button-3d.button-yellow:hover,
.button-reveal.button-yellow:hover,
.button-border.button-yellow:hover,
.button-border.button-yellow.button-fill:before { background-color: #f9bf56 !important; }

.c4p {
    margin-top: 25%;
}

@media screen and (max-width: 767px) {
    section.schedule li .schedule-talk img {
        display: none;
    }

    #add-calendar {
        margin-top:auto;
    }
    .c4p {
        margin-top: auto;
    }

}