#content p {
    line-height: 1.5;
}

.feature-box h3 span.subtitle {
    display: block;
    margin-top: 5px;
    color: #444;
    font-weight: 300;
    text-transform: none;
}

.bg-angle:after,.section.bg-angle:before {
    content: '';
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 70px;
    bottom: -70px;
    left: 0;
    transform-origin: 0;
    -webkit-transform-origin: 0;
    -webkit-transform: skewY(-1.5deg);
    -moz-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    background-color: #44aaac;
    z-index: 1
}

.section.bg-angle:before {
    top: -30px
}

.section.bg-angle:after,.section.bg-angle:before {
    background-color: #fff
}

.pricing-description p {
    padding: 25px;
    text-align: justify;
    border-bottom: 1px solid rgba(0,0,0,.075);
    height: 420px;
}

.entry:after {
    background: none;
}

.footer-logo {
    margin-left: -9px;
    width: 25%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.clearsimple {
    clear:both
}

.heart{color:#e25555;}

#splash-s {
    display: none;
}

@media screen and (max-width: 767px) {
    #splash-xl {
        display:none;
    }

    #splash-s {
        display: block;
    }
}