<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{{ partial "head.html" . }}

<body class="stretched">
{{ partial "tagmanager.html" }}

<div id="wrapper" class="clearfix">
    <div class="section-home"></div>
    <header id="header" class="full-header dark">
        {{ partial "header.html" . }}
    </header>
    {{ partial "splash.html" . }}
    <section id="content">
        <div class="content-wrap">
            {{ .Content }}
        </div>
    </section>
    <footer id="footer" class="dark">
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}
    </footer>
</div>
</body>

</html>
