{{ range $key, $value := .Site.Data.talks }}
    {{ if eq $key $.Page.Params.edition }}
        {{ range $value }}
            {{ if eq .type "organization"}}
                <li class="organization">
                    <span class="schedule-hour">{{ .hour }}</span>
                    <span class="schedule-title">{{ .title }}</span>
                </li>
            {{ else if eq .type "talk"}}
                <li>
                    <span class="schedule-hour">{{ .hour }}</span>
                    <div class="schedule-talk">
                        <img src="{{ .image | relURL }}" alt="{{ .title }}">
                        <h4 class="schedule-name">{{ .title }} <span class="schedule-speaker">{{ .speaker }}</span></h4>

                        <p class="schedule-content">{{ .talk | safeHTML }}</p>
                    </div>
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}